//
// ベースのスタイル
//


// 変数
$white: #fff;
$white2: #fffef7;
$white3: #fafdff;
$black: #000000;
$blue1: #0000cb;
$blue2: #4169e1;
$blue3: #ebf4f4;
$gray: #b2af8f;
$gray2: #c9c9c4;
$gray3: #e8ecef;

// ベーススタイル
html {
    font-size: 62.5%;
    background-color: #e6e6e6;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    background-color: #e6e6e6;
    color: $black;
    @media (min-width: 769px) {
        font-size: 1.6rem;
    }
}

a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}